<!DOCTYPE html>
<html lang = en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Success Register</title>
    </head>
    <body>
        <div>
            <h1>You have successfully registered!</h1>
        </div>
        <script>
            setTimeout(()=>{window.location.href ='/register/two-step-verification?user=<%=user%>'},3000)
        </script>
    </body>

</html>