<!DOCTYPE html>
<html lang = en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Secret</title>
    </head>
    <body>
        <div>
            <h1>Congrats! You just entered the secret page</h1>
            <div>
                <button type = "button" onclick="window.location.href='/logout'">Log Out</button>
            </div>
        </div>
    </body>

</html>